<div class="side_bar_header">
  <div class="header_name">
    <%= link_to current_user.name,edit_user_path(current_user) %>
  </div>

  <div class="create_room">
    <%= link_to "チャットを作成する", new_room_path%>
  </div>

</div>
<div class="side_bar_rooms">
  <% current_user.rooms.each do |room|%>
     <div class="room">
      <div class="room_index">
        <%= link_to room.name,room_messages_path(room)%>
        <%# link_to リンクの名前, リンク先のパス パスに引数を指定=紐付け 今回の場合メッセージと紐づくroomのidを持たせている%>
      </div>
    </div>
  <% end %>
</div>
